/*

#dropdown-content 
.dropdown:hover #dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color:aquamarine;}

#dropdown-content option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */
select{
  background-color:#d8d0d0;
  color: rgba(8, 109, 8, 0.404);
  padding: 16px;
  font-size: 16px;
  border: none;
}

#nav-bar{
  display: flex;
  height: 120px;
  background-color: beige;
  box-shadow: 2px 5px #888888;
}
#colorsection{
  flex: 1;
  display: flex;

}
.fillsection{
  flex:1;
  display: flex;
}
#add-and-remove{

  flex: 1;
  padding-left: 15px;
}
.section{
  flex: 1;
  padding-left: 50px;
  padding-top: 25px;
}

button{
  height: 50px;
  width: 110px;
 
}

#container{
  position:-ms-page;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.low{
  flex: 1;
  margin-top:20px;
  border-radius: 0.8em;
}
.up{
flex: 1;
margin-top:10px;
border-radius: 0.8em;
}

.addColor{
  background-color: rgb(86, 241, 86);
  border-radius: 00.8em;

}
.removeColor{
  background-color: rgb(243, 109, 109);
  border-radius: 00.8em;
}

td {
    height: 40px;
    width: 40px; 
}

td.default {
    background: black;
}

td.blue {
    background: blue;
}

td.red {
    background: red;
}

td.yellow {
    background: yellow;
}

td.white {
    background: white;
}




